.pic {
    max-height: 175px;
    width: auto;
    margin-right: 15px;
    margin-bottom: 10px
}

body {
    background-image: url(../images/duke.jpg);
}

.heading {
    color: #003088;
    background: #000000;
    text-align: center;
}

.instructions {
    background-image: url(../images/dukelogo.jpeg);
    color: #ffffff;
}

.rNumber {
    background-color: #003088;
    color: #ffffff;
}

.wl {
    background-color: #003088;
    color: #ffffff;
}

.row {
    margin-bottom: 20px;
}

.last {
    background-color: #000000;
    color: #ffffff;
    Font-size: 20px;
}

#myScore {
    font-size: 30px;
    font-weight: 500;
}