.pic {
    height: 175px;
    
}

body {
    background-image: url(../images/duke.jpg);
}

.heading {
    color: #003088;
    background: #000000;
    text-align: center;
}

.instructions {
    background-image: url(../images/dukelogo.jpeg);
    color: #ffffff;
}

.rNumber {
    background-color: #003088;
    color: #ffffff;
}

.wl {
    background-color: #003088;
    color: #ffffff;
}

.row {
    margin-bottom: 20px;
}

.last {
    background-image: url(../images/target.jpeg);
    color: #ffffff;
}